:root {
    --black: #000000;
    --black-opacity: 0, 0, 0;
    --white: #ffffff;
    --white-opacity: 255, 255, 255;
    --primary-1: #ffa149;
    --primary-1-opacity: 255, 161, 73;
    --primary-1-orange: #ffa149;
    --primary-1-orange-opacity: 255, 161, 73;
    --primary-2: #707070;
    --primary-2-opacity: 112, 112, 112;
    --primary-3: #48cae4;
    --primary-3-opacity: 72, 202, 228;
    --primary-4: #ff7d00;
    --primary-4-opacity: 255, 125, 0;
    --primary-4-orange: #ff7d00;
    --primary-4-orange-opacity: 255, 125, 0;
    --primary-5: #05afb2;
    --primary-5-opacity: 5, 175, 178;
    --primary-6: #09a191;
    --primary-6-opacity: 9, 161, 145;
    --primary-7: #c461f5;
    --primary-7-opacity: 196, 97, 245;
    --primary-8: #dc3545;
    --primary-8-opacity: 220, 53, 69;
    --primary-9: #27ae60;
    --primary-9-opacity: 39, 174, 96;
    --primary-10: #252422;
    --primary-10-opacity: 37, 36, 34;
    --primary-11: #040505;
    --primary-11-opacity: 4, 5, 5;
    --primary-12: #707070;
    --primary-12-opacity: 112, 112, 112;
    --primary-13: #219ebc;
    --primary-13-opacity: 33, 158, 188;
    --primary-14: #5c5c5c;
    --primary-14-opacity: 92, 92, 92;
    --primary-15: #e76f51;
    --primary-15-opacity: 231, 111, 81;
    --primary-15-orange: #e76f51;
    --primary-15-orange-opacity: 231, 111, 81;
    --primary-16: #115A82;
    --primary-16-opacity: 17, 90, 130;
    --primary-17: #BC930B;
    --primary-17-opacity: 188, 147, 11;
    --primary-18: #1A6CAB;
    --primary-18-opacity: 26, 108, 171;
    --primary-19: #885F0D;
    --primary-19-opacity: 136, 95, 13;
    --primary-20: #FF7D0C;
    --primary-20-opacity: 255, 125, 12;
    --primary-24: #FF7069;
    --primary-24-opacity: 255, 112, 105;
    --primary-25: #15ceba;
    --primary-25-opacity: 21, 206, 186;
    --secondary-1: #dddddd;
    --secondary-1-opacity: 221, 221, 221;
    --secondary-2: #9a9a9a;
    --secondary-2-opacity: 154, 154, 154;
    --secondary-3: #f5f5f5;
    --secondary-3-opacity: 245, 245, 245;
    --secondary-4: #fbfbfb;
    --secondary-4-opacity: 251, 251, 251;
    --secondary-5: #f9f9f9;
    --secondary-5-opacity: 249, 249, 249;
    --secondary-6: #d4d4d4;
    --secondary-6-opacity: 212, 212, 212;
    --secondary-7: #e8e8e8;
    --secondary-7-opacity: 232, 232, 232;
    --secondary-8: #fafcfd;
    --secondary-8-opacity: 250, 252, 253;
    --secondary-9: #e5e5e5;
    --secondary-9-opacity: 229, 229, 229;
    --secondary-10: #006d77;
    --secondary-10-opacity: 0, 109, 119;
    --secondary-11: #393939;
    --secondary-11-opacity: 57, 57, 57;
    --secondary-12: #001c77;
    --secondary-12-opacity: 0, 28, 119;
    --secondary-13: #b23414;
    --secondary-13-opacity: 178, 52, 20;
    --secondary-14: #77004b;
    --secondary-14-opacity: 119, 0, 75;
    --secondary-15: #00772c;
    --secondary-15-opacity: 0, 119, 44;
    --secondary-16: #f5f8fa;
    --secondary-16-opacity: 245, 248, 250;
    --secondary-17: #f2f2f2;
    --secondary-17-opacity: 242, 242, 242;
    --secondary-18: #f1f1f1;
    --secondary-18-opacity: 241, 241, 241;
    --secondary-19: #f00f00;
    --secondary-19-opacity: 240, 15, 0;
    --secondary-20: #ffbd7f;
    --secondary-20-opacity: 255, 189, 127;
    --secondary-21: #ae2762;
    --secondary-21-opacity: 174, 39, 98;
    --secondary-22: #f3dffd;
    --secondary-22-opacity: 243, 223, 253;
    --secondary-23: #d3ecf2;
    --secondary-23-opacity: 211, 236, 242;
    --secondary-24: #c8c8c8;
    --secondary-24-opacity: 200, 200, 200;
    --secondary-25: #0F6EC1;
    --secondary-25-opacity: 15, 110, 193;
    --secondary-26: #EBEBEB;
    --secondary-26-opacity: 235, 235, 235;
    --secondary-27: #edf4f9;
    --secondary-27-opacity: 237, 244, 249;
    --secondary-28: #F0D7FC;
    --secondary-28-opacity: 240, 215, 252;
    --secondary-29: #F8FBFF;
    --secondary-29-opacity: 248, 251, 255;
    --secondary-30: #BC8321;
    --secondary-30-opacity: 188, 131, 33;
    --secondary-31: #E965EE;
    --secondary-31-opacity: 233, 101, 238;
    --secondary-32: #67B7DC;
    --secondary-32-opacity: 103, 183, 220;
    --secondary-33: #6771DC;
    --secondary-33-opacity: 103, 113, 220;
    --secondary-34: #A367DC;
    --secondary-34-opacity: 163, 103, 220;
    --secondary-35: #DC67CE;
    --secondary-35-opacity: 220, 103, 206;
    --secondary-36: #959595;
    --secondary-36-opacity: 149, 149, 149;
    --secondary-37: #eeeeee;
    --secondary-37-opacity: 238, 238, 238;
    --secondary-38: #1d2634;
    --secondary-38-opacity: 29, 38, 52;
    --secondary-39: #FDF0ED;
    --secondary-39-opacity: 253, 240, 237;
    --secondary-40: #676767;
    --secondary-40-opacity: 103, 103, 103;
    --secondary-41: #005B52;
    --secondary-41-opacity: 0, 91, 82;
    --secondary-42: #8e395c;
    --secondary-42-opacity: 142, 57, 92;
    --secondary-43: #6AD49B;
    --secondary-43-opacity: 106, 212, 155;
    --secondary-44: #FAFBFC;
    --secondary-44-opacity: 250, 251, 252;
    --secondary-45: #FFF7F0;
    --secondary-45-opacity: 255, 247, 240;
    --secondary-46: #27ae60;
    --secondary-46-opacity: 39, 174, 96;
    --secondary-47: #dc3545;
    --secondary-47-opacity: 220, 53, 69;
    --secondary-48: #93c8ff52;
    --secondary-48-opacity: 147, 200, 255, 0.322;
    --secondary-49: #F4EAF9;
    --secondary-49-opacity: 244, 234, 249;
    --secondary-50:#B23414;
    --secondary-50-opacity:178, 52, 20;
  
    --theme-header-bg:#ffffff;
    --theme-logo-bg:#ffffff;
    --theme-header-boxes:#f5f5f5;
    --theme-header-icons:#707070;
    --theme-header-title:#707070;
  
    --side-navigation-bg:#ffffff;
    --sidenav-icon-color:#707070;
    --sidenav-icon-hover-color:#ffa149;
  
  }
  
  
  $black:var(--black);
  $black-opacity:var(--black-opacity);
  $white:var(--white);
  $white-opacity:var(--white-opacity);
  $transparent: transparent;
  $primary-1: var(--primary-1);
  $primary-1-opacity: var(--primary-1-opacity);
  $primary-1-orange: var(--primary-1-orange);
  $primary-1-orange-opacity: var(--primary-1-orange-opacity);
  $primary-2: var(--primary-2);
  $primary-2-opacity: var(--primary-2-opacity);
  $primary-3: var(--primary-3);//#48cae4;
  $primary-3-opacity: var(--primary-3-opacity);//#48cae4;
  $primary-4: var(--primary-4);//#ff7d00;
  $primary-4-opacity: var(--primary-4-opacity);//#ff7d00;
  $primary-4-orange: var(--primary-4-orange);//#ff7d00;
  $primary-4-orange-opacity: var(--primary-4-orange-opacity);//#ff7d00;
  $primary-5: var(--primary-5);//#05afb2;
  $primary-5-opacity: var(--primary-5-opacity);//#05afb2;
  $primary-6: var(--primary-6);//#09a191;
  $primary-6-opacity: var(--primary-6-opacity);//#09a191;
  $primary-7: var(--primary-7);//#c461f5;
  $primary-7-opacity: var(--primary-7-opacity);//#c461f5;
  $primary-8: var(--primary-8);//#dc3545;
  $primary-8-opacity: var(--primary-8-opacity);//#dc3545;
  $primary-9: var(--primary-9);//#27ae60;
  $primary-9-opacity: var(--primary-9-opacity);//#27ae60;
  $primary-10: var(--primary-10);//#252422;
  $primary-10-opacity: var(--primary-10-opacity);//#252422;
  $primary-11: var(--primary-11);//#040505;
  $primary-11-opacity: var(--primary-11-opacity);//#040505;
  $primary-12: var(--primary-12);//#707070;
  $primary-12-opacity: var(--primary-12-opacity);//#707070;
  $primary-13: var(--primary-13);//#219ebc;
  $primary-13-opacity: var(--primary-13-opacity);//#219ebc;
  $primary-14: var(--primary-14);//#5c5c5c;
  $primary-14-opacity: var(--primary-14-opacity);//#5c5c5c;
  $primary-15: var(--primary-15);//#e76f51;
  $primary-15-opacity: var(--primary-15-opacity);//#e76f51;
  $primary-15-orange: var(--primary-15-orange);//#e76f51;
  $primary-15-orange-opacity: var(--primary-15-orange-opacity);//#e76f51;
  $primary-16: var(--primary-16);//#115A82;
  $primary-16-opacity: var(--primary-16-opacity);//#115A82;
  $primary-17: var(--primary-17);//#BC930B;
  $primary-17-opacity: var(--primary-17-opacity);//#BC930B;
  $primary-18: var(--primary-18);//#1A6CAB;
  $primary-18-opacity: var(--primary-18-opacity);//#1A6CAB;
  $primary-19: var(--primary-19);//#885F0D;
  $primary-19-opacity: var(--primary-19-opacity);//#885F0D;
  $primary-20: var(--primary-20);//#FF7D0C;
  $primary-20-opacity: var(--primary-20-opacity);//#FF7D0C;
  $primary-24: var(--primary-24);//#FF7069;
  $primary-24-opacity: var(--primary-24-opacity);//#FF7069;
  $primary-25: var(--primary-25);//#15ceba;
  $primary-25-opacity: var(--primary-25-opacity);//#15ceba;
  $secondary-1: var(--secondary-1);//#dddddd;
  $secondary-1-opacity: var(--secondary-1-opacity);//#dddddd;
  $secondary-2: var(--secondary-2);//#9a9a9a;
  $secondary-2-opacity: var(--secondary-2-opacity);//#9a9a9a;
  $secondary-3: var(--secondary-3);//#f5f5f5;
  $secondary-3-opacity: var(--secondary-3-opacity);//#f5f5f5;
  $secondary-4: var(--secondary-4);//#fbfbfb;
  $secondary-4-opacity: var(--secondary-4-opacity);//#fbfbfb;
  $secondary-5: var(--secondary-5);//#f9f9f9;
  $secondary-5-opacity: var(--secondary-5-opacity);//#f9f9f9;
  $secondary-6: var(--secondary-6);//#d4d4d4;
  $secondary-6-opacity: var(--secondary-6-opacity);//#d4d4d4;
  $secondary-7: var(--secondary-7);//#e8e8e8;
  $secondary-7-opacity: var(--secondary-7-opacity);//#e8e8e8;
  $secondary-8: var(--secondary-8);//#fafcfd;
  $secondary-8-opacity: var(--secondary-8-opacity);//#fafcfd;
  $secondary-9: var(--secondary-9);//#e5e5e5;
  $secondary-9-opacity: var(--secondary-9-opacity);//#e5e5e5;
  $secondary-10: var(--secondary-10);//#006d77;
  $secondary-10-opacity: var(--secondary-10-opacity);//#006d77;
  $secondary-11: var(--secondary-11);//#393939;
  $secondary-11-opacity: var(--secondary-11-opacity);//#393939;
  $secondary-12: var(--secondary-12);//#001c77;
  $secondary-12-opacity: var(--secondary-12-opacity);//#001c77;
  $secondary-13: var(--secondary-13);//#b23414;
  $secondary-13-opacity: var(--secondary-13-opacity);//#b23414;
  $secondary-14: var(--secondary-14);//#77004b;
  $secondary-14-opacity: var(--secondary-14-opacity);//#77004b;
  $secondary-15: var(--secondary-15);//#00772c;
  $secondary-15-opacity: var(--secondary-15-opacity);//#00772c;
  $secondary-16: var(--secondary-16);//#f5f8fa;
  $secondary-16-opacity: var(--secondary-16-opacity);//#f5f8fa;
  $secondary-17: var(--secondary-17);//#f2f2f2;
  $secondary-17-opacity: var(--secondary-17-opacity);//#f2f2f2;
  $secondary-18: var(--secondary-18);//#f1f1f1;
  $secondary-18-opacity: var(--secondary-18-opacity);//#f1f1f1;
  $secondary-19: var(--secondary-19);//#f00f00;
  $secondary-19-opacity: var(--secondary-19-opacity);//#f00f00;
  $secondary-20: var(--secondary-20);//#ffbd7f;
  $secondary-20-opacity: var(--secondary-20-opacity);//#ffbd7f;
  $secondary-21: var(--secondary-21);//#ae2762;
  $secondary-21-opacity: var(--secondary-21-opacity);//#ae2762;
  $secondary-22: var(--secondary-22);//#f3dffd;
  $secondary-22-opacity: var(--secondary-22-opacity);//#f3dffd;
  $secondary-23: var(--secondary-23);//#d3ecf2;
  $secondary-23-opacity: var(--secondary-23-opacity);//#d3ecf2;
  $secondary-24: var(--secondary-24);//#c8c8c8;
  $secondary-24-opacity: var(--secondary-24-opacity);//#c8c8c8;
  $secondary-25: var(--secondary-25);//#0F6EC1;
  $secondary-25-opacity: var(--secondary-25-opacity);//#0F6EC1;
  $secondary-26: var(--secondary-26);//#EBEBEB;
  $secondary-26-opacity: var(--secondary-26-opacity);//#EBEBEB;
  $secondary-27: var(--secondary-27);//#edf4f9;
  $secondary-27-opacity: var(--secondary-27-opacity);//#edf4f9;
  $secondary-28: var(--secondary-28);//#F0D7FC;
  $secondary-28-opacity: var(--secondary-28-opacity);//#F0D7FC;
  $secondary-29: var(--secondary-29);//#F8FBFF;
  $secondary-29-opacity: var(--secondary-29-opacity);//#F8FBFF;
  $secondary-30: var(--secondary-30);//#BC8321;
  $secondary-30-opacity: var(--secondary-30-opacity);//#BC8321;
  $secondary-31: var(--secondary-31);//#E965EE;
  $secondary-31-opacity: var(--secondary-31-opacity);//#E965EE;
  $secondary-32: var(--secondary-32);//#67B7DC;
  $secondary-32-opacity: var(--secondary-32-opacity);//#67B7DC;
  $secondary-33: var(--secondary-33);//#6771DC;
  $secondary-33-opacity: var(--secondary-33-opacity);//#6771DC;
  $secondary-34: var(--secondary-34);//#A367DC;
  $secondary-34-opacity: var(--secondary-34-opacity);//#A367DC;
  $secondary-35: var(--secondary-35);//#DC67CE;
  $secondary-35-opacity: var(--secondary-35-opacity);//#DC67CE;
  $secondary-36: var(--secondary-36);//#959595;
  $secondary-36-opacity: var(--secondary-36-opacity);//#959595;
  $secondary-37: var(--secondary-37);//#eeeeee;
  $secondary-37-opacity: var(--secondary-37-opacity);//#eeeeee;
  $secondary-38: var(--secondary-38);//#1d2634;
  $secondary-38-opacity: var(--secondary-38-opacity);//#1d2634;
  $secondary-39: var(--secondary-39);//#FDF0ED;
  $secondary-39-opacity: var(--secondary-39-opacity);//#FDF0ED;
  $secondary-40: var(--secondary-40);//#676767;
  $secondary-40-opacity: var(--secondary-40-opacity);//#676767;
  $secondary-41: var(--secondary-41);//#005B52;
  $secondary-41-opacity: var(--secondary-41-opacity);//#005B52;
  $secondary-42: var(--secondary-42);//#8e395c;
  $secondary-42-opacity: var(--secondary-42-opacity);//#8e395c;
  $secondary-43: var(--secondary-43);//#6AD49B;
  $secondary-43-opacity: var(--secondary-43-opacity);//#6AD49B;
  $secondary-44: var(--secondary-44);//#FAFBFC;
  $secondary-44-opacity: var(--secondary-44-opacity);//#FAFBFC;
  $secondary-45: var(--secondary-45);//#FFF7F0;
  $secondary-45-opacity: var(--secondary-45-opacity);//#FFF7F0;
  $secondary-46: var(--secondary-46);//#27ae60;
  $secondary-46-opacity: var(--secondary-46-opacity);//#27ae60;
  $secondary-47: var(--secondary-47);//#dc3545;
  $secondary-47-opacity: var(--secondary-47-opacity);//#dc3545;
  $secondary-48: var(--secondary-48);//#93c8ff52;
  $secondary-48-opacity: var(--secondary-48-opacity);//#93c8ff52;
  $secondary-49: var(--secondary-49);//#F4EAF9;
  $secondary-49-opacity: var(--secondary-49-opacity);//#F4EAF9;
  $secondary-50: var(--secondary-50);//#F4EAF9;
  $secondary-50-opacity: var(--secondary-50-opacity);//#F4EAF9;
  
  $fs-9: 9px;
  $fs-10: 10px;
  $fs-11: 11px;
  $fs-12: 12px;
  $fs-13: 13px;
  $fs-14: 14px;
  $fs-15: 15px;
  $fs-16: 16px;
  $fs-18: 18px;
  $fs-20: 20px;
  $fs-22: 22px;
  $fs-23: 23px;
  $fs-24: 24px;
  $fs-25: 25px;
  $fs-26: 26px;
  $fs-28: 28px;
  $fs-30: 30px;
  $fs-40: 40px;
  
  // Theme Development Color
  $theme-header-bg:var(--theme-header-bg);
  $theme-header-boxes:var(--theme-header-boxes);
  $theme-header-icons:var(--theme-header-icons);
  $theme-header-title:var(--theme-header-title);
  $theme-logo-bg:var(--theme-logo-bg);
  
  
  $side-navigation-bg:var(--side-navigation-bg);
  $sidenav-icon-color: var(--sidenav-icon-color);
  $sidenav-icon-hover-color:var(--sidenav-icon-hover-color);
  
  $selection-background-color: $primary-1;
  $selection-color: $white;
  
  $scroll-width: 6px;
  $scroll-height: 3px;
  $scroll-thumb-radius: 20px;
  $scroll-thumb-bg: $secondary-2;
  $scroll-thumb-hover-bg: $primary-2;
  $scroll-track-bg: $secondary-1;
  
  $font-regular: "Montserrat-Regular";
  $font-italic: "Montserrat-Italic";
  $font-black: "Montserrat-Black";
  $font-blackItalic: "Montserrat-BlackItalic";
  $font-bold: "Montserrat-Bold";
  $font-boldItalic: "Montserrat-BoldItalic";
  $font-semiBold: "Montserrat-SemiBold";
  $font-semiBoldItalic: "Montserrat-SemiBoldItalic";
  $font-extraBold: "Montserrat-ExtraBold";
  $font-extraBoldItalic: "Montserrat-ExtraBoldItalic";
  $font-light: "Montserrat-Light";
  $font-lightItalic: "Montserrat-LightItalic";
  $font-extraLight: "Montserrat-ExtraLight";
  $font-extraLightItalic: "Montserrat-ExtraLightItalic";
  $font-medium: "Montserrat-Medium";
  $font-mediumItalic: "Montserrat-MediumItalic";
  $font-thin: "Montserrat-Thin";
  $font-thinItalic: "Montserrat-ThinItalic";
  
  $breakpoints: (
    xxs: 360px,
    xs: 575px,
    sm: 768px,
    md: 991px,
    ipad: 1080px,
    lg: 1199px,
    xl: 1400px,
    xxl: 1600px,
    xxxl: 1750px,
  );
  